<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>cool cab services</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
    <welcome-file>home.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Signup</display-name>
    <servlet-name>Signup</servlet-name>
    <servlet-class>cab.Signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signup</servlet-name>
    <url-pattern>/Signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>cab.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>cab.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDriver</display-name>
    <servlet-name>AddDriver</servlet-name>
    <servlet-class>cab.AddDriver</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDriver</servlet-name>
    <url-pattern>/AddDriver</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdLogin</display-name>
    <servlet-name>AdLogin</servlet-name>
    <servlet-class>cab.AdLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdLogin</servlet-name>
    <url-pattern>/AdLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Report</display-name>
    <servlet-name>Report</servlet-name>
    <servlet-class>cab.Report</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Report</servlet-name>
    <url-pattern>/Report</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Booknow</display-name>
    <servlet-name>Booknow</servlet-name>
    <servlet-class>cab.Booknow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Booknow</servlet-name>
    <url-pattern>/Booknow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Booking</display-name>
    <servlet-name>Booking</servlet-name>
    <servlet-class>cab.Booking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Booking</servlet-name>
    <url-pattern>/Booking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mybookings</display-name>
    <servlet-name>Mybookings</servlet-name>
    <servlet-class>cab.Mybookings</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mybookings</servlet-name>
    <url-pattern>/Mybookings</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Listdrivers</display-name>
    <servlet-name>Listdrivers</servlet-name>
    <servlet-class>cab.Listdrivers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Listdrivers</servlet-name>
    <url-pattern>/Listdrivers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>cab.Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Viewreports</display-name>
    <servlet-name>Viewreports</servlet-name>
    <servlet-class>cab.Viewreports</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Viewreports</servlet-name>
    <url-pattern>/Viewreports</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Viewbookings</display-name>
    <servlet-name>Viewbookings</servlet-name>
    <servlet-class>cab.Viewbookings</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Viewbookings</servlet-name>
    <url-pattern>/Viewbookings</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Assigncab</display-name>
    <servlet-name>Assigncab</servlet-name>
    <servlet-class>cab.Assigncab</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Assigncab</servlet-name>
    <url-pattern>/Assigncab</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>test</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>cab.test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Assignedcab</display-name>
    <servlet-name>Assignedcab</servlet-name>
    <servlet-class>cab.Assignedcab</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Assignedcab</servlet-name>
    <url-pattern>/Assignedcab</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Customerbookings</display-name>
    <servlet-name>Customerbookings</servlet-name>
    <servlet-class>cab.Customerbookings</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Customerbookings</servlet-name>
    <url-pattern>/Customerbookings</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Bill</display-name>
    <servlet-name>Bill</servlet-name>
    <servlet-class>cab.Bill</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bill</servlet-name>
    <url-pattern>/Bill</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Final</display-name>
    <servlet-name>Final</servlet-name>
    <servlet-class>cab.Final</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Final</servlet-name>
    <url-pattern>/Final</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Edit</display-name>
    <servlet-name>Edit</servlet-name>
    <servlet-class>cab.Edit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edit</servlet-name>
    <url-pattern>/Edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update</display-name>
    <servlet-name>Update</servlet-name>
    <servlet-class>cab.Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Feedback</display-name>
    <servlet-name>Feedback</servlet-name>
    <servlet-class>cab.Feedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Feedback</servlet-name>
    <url-pattern>/Feedback</url-pattern>
  </servlet-mapping>
</web-app>